* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*dropdown*/
.wrapper {
  background:#8594e4;
  position: relative;
  width: 100%;
}

.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

nav .content {
  display: flex;
  align-items: center;
}

nav .content .links {
  margin-left: 80px;
  display: flex;
}

.content .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.content .links li {
  list-style: none;
  line-height: 70px;
}

.content .links li a,
.content .links li label {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.content .links li label {
  display: none;
}

.content .links li a:hover,
.content .links li label:hover {
  background: #6643b5;
  /* max-width: 73px; */

  padding: 5px;
}

.wrapper .search-icon,
.wrapper .menu-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}

.wrapper .menu-icon {
  display: none;
}

.wrapper #show-search:checked~.search-icon i::before {
  content: "\f00d";
}

.wrapper .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper #show-search:checked~.search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}


.wrapper input[type="checkbox"] {
  display: none;
}

/* Dropdown Menu code start */
.content .links ul {
  position: absolute;
  background: #6643b5;
  top: 80px;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  border-radius: 5%;
}

.content .links li:hover>ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}

.content .links ul ul {
  position: absolute;
  top: 0;
  left: calc(100% + 0px);
}

.content .links ul li {
  position: relative;
}

.content .links ul li:hover ul {
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }

  nav .content .links {
    margin-left: 30px;
  }

  .content .links li a {
    padding: 8px 13px;
  }

  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }

  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
    display: block;
  }

  .wrapper #show-menu:checked~.fa-bars:before {
    content: "\f0c9";
  }

  nav .content .links {
    display: block;
    position: fixed;
    background: red;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }

  nav #show-menu:checked~.content .links {
    left: 0%;
  }

  .content .links li {
    margin: 15px 20px;
  }

  .content .links li a,
  .content .links li label {
    line-height: 20px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }

  .content .links li a.desktop-link {
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul,
  .content .links ul ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }

  .content .links #show-features:checked~ul,
  .content .links #show-services:checked~ul,
  .content .links #show-items:checked~ul,
  .content .links #show-bereiche:checked~ul,
  .content .links #show-schule:checked~ul,
  .content .links #show-esb:checked~ul,
  .content .links #show-ads:checked~ul,
  .content .links #show-bss:checked~ul,
  .content .links #show-bs:checked~ul,
  .content .links #show-dws:checked~ul,
  .content .links #show-gev:checked~ul,
  .content .links #show-hds:checked~ul,
  .content .links #show-kss:checked~ul,
  .content .links #show-mes:checked~ul,
  .content .links #show-pakt:checked~ul,
  .content .links #show-adsgt:checked~ul,
  .content .links #show-bssgt:checked~ul,
  .content .links #show-bsgt:checked~ul,
  .content .links #show-dwsgt:checked~ul,
  .content .links #show-gevgt:checked~ul,
  .content .links #show-hdsgt:checked~ul,
  .content .links #show-kssgt:checked~ul,
  .content .links #show-jobs:checked~ul {
    max-height: 200vh;
  }

  .content .links ul li {
    margin: 7px 20px;
  }

  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}

@media screen and (max-width: 400px) {

  .wrapper nav {
    padding: 0 10px;
    width: 100%;
  }

  .content .logo a {
    font-size: 27px;
  }

}




/*grid*/

.div-3>div {
  background-color: lightblue;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 10px;
  font-size: 30px;
  transition: font-size 2s ease-in-out;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 15px;
}

/*dodge-logo*/

.div-3>div>a>img#dodge-logo {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: width 3s ease-in-out;
}


.div-3>div>a>img#dodge-logo:hover
{
  width: 75%;
  animation: blur-effect 2s;

  

}



/* bmw-logo */

.div-3>div>a>img#bmw-logo {
  width: 20%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: width 3s ease-in-out;
}

.div-3>div>a>img#bmw-logo:hover {
  width: 24%;
  /* background-color: green; */
  animation: blur-effect 2s;

}


/* Koenigsegg-logo */

.div-3>div>a>img#koenigsegg-logo {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: width 3s ease-in-out;
}

.div-3>div>a>img#koenigsegg-logo:hover {
  width: 75%;
  /* background-color: green; */
  animation: blur-effect 2s;

}

/* mclaren logo */

.div-3>div>a>img#McLaren-logo {
  width: 75%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: width 3s ease-in-out;
}

.div-3>div>a>img#McLaren-logo:hover {
  width: 100%;
  /* background-color: green; */
  animation: blur-effect 2s;
}


.div-1 {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 7vh repeat(2, 43vh) 7vh;
}

.div-2 {
  background-color: green;

  grid-area: 1/1/1/3;
}

.div-3 {
  background: #d5def5;
  background-size: cover;


  grid-area: 2/1/4/3;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  column-gap: 10px;
  row-gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.dodge-logo-div {
  /* background-color: red; */

  grid-area: 4/1/4/3;
}

.McLaren-logo-div {
  background-color: yellow;

  grid-area: 1/1/1/1;
}

.koenigsegg-logo-div {
  background-color: brown;

  grid-area: 1/2/1/2;

}

.bmw-logo-div {
  background-color: purple;

  grid-area: 2/2/2/2;
}

#footer{
  background-color: #430f58;
  grid-area: 4/1/4/3;

}




@keyframes blur-effect {
  0% {
    filter: blur(0);
    filter: saturate(1);
  }

  25% {
    filter: blur(4px);
    filter: saturate(10);

  }

  50% {
    filter: blur(5px);
    filter: saturate(15);

  }

  75% {
    filter: blur(4px);
    filter: saturate(10);

  }

  100% {
    filter: blur(0);
    filter: saturate(1);

  }


}